[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
django-rest-auth = "*"
django-allauth = "*"
coreapi = "*"
pyyaml = "*"
django-rest-swagger = "*"
django = "==3.0.2"

[dev-packages]
mypy = "*"
django-stubs = "*"

[requires]
python_version = "3.9"
